.tabList {
    /* display: flex; */
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.tabsWrapper {
    display: flex;
    flex-direction: column;
    max-width: 65.8rem;
    width: 100%;
    margin-right: 12.0rem;
}

.tabContent {
    display: flex;
    flex-direction: column;
}

.tabPanelsWrapper {
    padding-top: 4.0rem;
    display: flex;
    flex-direction: column;
}

.sectionWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    /* margin: 8.0rem 0; */
    padding: 6.0rem 2.0rem 8.0rem 8.0rem;
}