.headerText {
    display: flex;
    justify-self: center;
    flex-direction: column;
}
.city {
    font-weight: 600;
}
.address, .zip {
    opacity: 0.5;
    font-family: fira-go;
}
.paymentWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 3.6rem;
}